.container {
  display: flex;
  height: calc(100vh - 70px); /* Trừ đi chiều cao của Navbar nếu có */
  background-color: #ffffff;
  border-top: 1px solid #e4e6eb;
  gap: 10px;
}

.sidebar {
  width: 360px;
  min-width: 300px;
  height: 100%;
  border-right: 1px solid #e4e6eb;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.chatArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.noChatSelected {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #65676b;
}

.welcomeImg {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}
