.minipost {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  height: 45vh;
  overflow-y: auto;

  scrollbar-width: none; /* Firefox */
  ::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}

.image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 12px;
  border: 1px solid #e5e7eb; /* xám nhạt */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.image:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.no-posts {
  color: #9ca3af;
  font-size: 0.9rem;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
