.summary {
  display: flex;
  gap: 0.25rem;
}

.total {
  font-size: 1rem;
}

.icons {
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
