.container {
  max-width: 43.75rem;
  margin: 0 auto;
  padding: 1.25rem;
  text-align: left;
}
.container p {
  font-size: 1rem;
}

.searchBox {
  display: flex;
  gap: 0.625rem;
  margin-bottom: 1.25rem;
  padding: 0.625rem;
  border-radius: 0.75rem;
  background: linear-gradient(135deg, #e0c3fc, #8ec5fc);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}

.searchBox input {
  flex: 1;
  padding: 0.625rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}

.searchBox button {
  padding: 0.625rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  background: linear-gradient(90deg, #a18cd1, #38ef7d);
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

.searchBox button:hover {
  opacity: 0.9;
}

.card {
  background: var(--bg-primary);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1.25rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
}

.card h2 {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;

  border-bottom: #a18cd1 0.1875rem solid;
}

.card p {
  text-align: center;
}

.friendsList {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  background-color: aliceblue;
  padding: 0.625rem;
  border-radius: 0.75rem;
}

.userCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9f9ff;
  padding: 0.75rem;
  border-radius: 0.75rem;
  box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.1);
}

.requestTabs {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.SentrequestList {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  background: #fff5f5;
  padding: 0.75rem;
  border-radius: 0.75rem;
  box-shadow: 0 0.125rem 0.375rem rgba(255, 0, 0, 0.1);
}

.requestSection {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  background: #f5fff8;
  padding: 0.75rem;
  border-radius: 0.75rem;
  box-shadow: 0 0.125rem 0.375rem rgba(0, 128, 0, 0.1);
}

.SentrequestList h3 {
  background: linear-gradient(90deg, #ff6b6b, #f06595);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.requestSection h3 {
  background: linear-gradient(90deg, #38ef7d, #11998e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
