.charts-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
}

.charts-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* Trái 65%, Phải 35% */
    gap: 24px;
}

@media (max-width: 992px) {
    .charts-grid {
        grid-template-columns: 1fr;
        /* Rớt dòng trên màn hình nhỏ */
    }
}