.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--bg-primary);
}

.app-desc {
  font-size: 1.3rem;
}

.custom-form {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.custom-input {
  width: 2.5rem;
  height: 3.125rem;
  text-align: center;
  font-size: 1.5rem;
  border: none;
  border-bottom: 0.125rem solid #000;
  outline: none;
  background: transparent;
  border-radius: 0;
  margin-right: 0.75rem;
}

.custom-input:last-child {
  margin-right: 0; /* bỏ margin ô cuối */
}

.custom-input:focus {
  border-bottom: 0.2rem solid #952993;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
